* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
  /* background-image: linear-gradient(to right, #09203f 0%, #537895 100%); */
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
}
nav {
  background-image: inherit;
  padding: 0 5%;
}
.brand-logo {
  font-family: "Leckerli One", cursive;
  font-weight: bold;
}
.brand-logo:hover {
  color: #ffeb3b;
}

* {
  font-family: "Roboto", sans-serif;
}
.marginTop {
  margin-top: 10vh;
}
.marginBtm {
  margin-bottom: 10px;
}
.section-title {
  font-family: "Leckerli One", cursive;
  text-align: center;
  font-weight: bold;
}
#resume-btn,
#submit-contact-btn,
#view-code-btn,
#visit-website-btn {
  border: 1px solid #ffeb3b;
  border-radius: 5px;
  color: #ffeb3b;
}
#resume-btn:hover,
#submit-contact-btn:hover,
#view-code-btn:hover,
#visit-website-btn:hover {
  background-color: #fff;
}
#social-accounts {
  margin: 20px 15% 0 15%;
  transition: 0.7s;
}
#social-accounts a:hover .fab {
  color: #ffeb3b;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 90%;
  left: auto !important;
}

.carousel {
  position: relative;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
}
.slick-prev {
  left: 1px;
  z-index: 10;
  /* background-color: #419be0; */
}
.slick-next {
  right: 1px;
  z-index: 10;
  /* background-color: #419be0; */
}
.slick-dots {
  bottom: 10px;
}
.slick-dots li button {
  background-color: #ffeb3b;
  border-radius: 100%;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.project-info {
  padding-left: 35px !important;
}
.project-description {
  font-size: 1.1rem;
}
.slick-slide {
  text-align: center;
  color: white;
  background: inherit;
}
.input-field label {
  color: white;
}
.input-field input:focus {
  border-bottom: 1px solid #000;
}
